<footer>
    <div class="container">
        <div class="footer text-center">
            <p class="copyright ">
                Copyright © {{year}} Conversor de Divisas <br> <a href="http://maxalva.com" target="_blank">Max Alva</a>
            </p>
            <div class="footer-social">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="https://www.facebook.com/maxalvagarcia" target="_blank"> <i class="fab fa-facebook-f"></i> </a> </li>
                    <li class="list-inline-item"><a href="https://twitter.com/ElMaxi" target="_blank"> <i class="fab fa-twitter"></i> </a> </li>
                    <li class="list-inline-item"><a href="https://github.com/alvag" target="_blank"> <i class="fab fa-github"></i> </a> </li>
                </ul>
            </div>
        </div>

    </div>
</footer>
