<div class="main-content">
    <section class="header">
        <div class="container">
            <div class="converter">
                <h1>Conversor de Divisas</h1>
                <h2>Utilice este conversor de divisas gratuito para calcular y ver los tipos de cambio en tiempo real.</h2>
                <div class="convert-box">
                    <div class="row d-flex justify-content-center">
                        <button class="btn btn-change"><i aria-hidden="true" class=" ">⇄</i></button>
                        <div class="col-md-6">
                            <label class="label">De</label>
                            <div class="d-flex">
                                <input type="text" class="form-control amount">
                                <ng-select *ngIf="currencies.length > 0" class="custom flex-grow-1" [(ngModel)]="from" [items]="currencies" bindLabel="searchLabel" bindValue="id">
                                    <ng-template ng-label-tmp let-item="item">
                                        <img height="24" width="24" [src]="currencieService.getFlag(item.flag)" />
                                        {{item.id}} <span *ngIf="item.currencySymbol">({{item.currencySymbol}})</span><br>
                                        <div class="currencyName">{{item.currencyName}}</div>
                                    </ng-template>
                                    <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                                        <div style="margin: 10px 0;" class="card">
                                            <div class="card-body" style="overflow: hidden;">
                                                <h5 class="card-title">
                                                    <img style="margin-bottom: 5px;" height="24" width="24" [src]="currencieService.getFlag(item.flag)" />
                                                    <span [ngOptionHighlight]="search">{{item.id}}</span><span *ngIf="item.currencySymbol">({{item.currencySymbol}})</span>
                                                </h5>
                                                <h6 class="card-subtitle mb-2 text-muted" style="margin-left: 25px" [ngOptionHighlight]="search">{{item.currencyName}}</h6>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ng-select>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <label class="label">A</label>
                            <div class="d-flex">
                                <input type="text" class="form-control amount">
                                <ng-select *ngIf="currencies.length > 0" class="custom flex-grow-1" [(ngModel)]="to" [items]="currencies" bindLabel="searchLabel" bindValue="id">
                                    <ng-template ng-label-tmp let-item="item">
                                        <img height="24" width="24" [src]="currencieService.getFlag(item.flag)" />
                                        {{item.id}} <span *ngIf="item.currencySymbol">({{item.currencySymbol}})</span><br>
                                        <div class="currencyName">{{item.currencyName}}</div>
                                    </ng-template>
                                    <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                                        <div style="margin: 10px 0;" class="card">
                                            <div class="card-body" style="overflow: hidden;">
                                                <h5 class="card-title">
                                                    <img style="margin-bottom: 5px;" height="24" width="24" [src]="currencieService.getFlag(item.flag)" />
                                                    <span [ngOptionHighlight]="search">{{item.id}}</span><span *ngIf="item.currencySymbol">({{item.currencySymbol}})</span>
                                                </h5>
                                                <h6 class="card-subtitle mb-2 text-muted" style="margin-left: 25px" [ngOptionHighlight]="search">{{item.currencyName}}</h6>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ng-select>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<section class="list-currencies">
    <div class="container">

        <div class="row">


        </div>
    </div>
</section>

<app-footer></app-footer>
